<div class="row-fluid profile">
  <div class="span10 offset1">
    <ul class="media-list">
      <%- if @profiles.count > 0 -%>
        <% @profiles.each do |profile| %>
          <li class="media">
            <%= render 'shared/profile', :profile => profile %>
          </li>
        <% end %>
      <%- else -%>
        There are no approved Team Members at this time.
      <%- end -%>
    </ul>
  </div>

  <%= paginate @profiles %>
</div>

<%- unless user_signed_in? -%>
  <div class="row-fluid">
    <div class="span10 offset1">
      <p>Not a member?</p>
      <%= link_to signin_path, :class => "btn btn-primary btn-large" do %>
        <i class="icon-github icon-large"></i> Register with GitHub
      <% end %>
    </div>
  </div>
<%- end -%>