<%= render 'shared/admin_menu' %>
<%= render "layouts/messages" %>

<div class="row-fluid">
  <div class="span10 offset1">
    <hr />
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1">
    <h3>Edit Event</h3>
  </div>
</div>

<div class="row-fluid">
  <div class="span6 offset1">
    <%= render 'form' %>
  </div>
</div
