<div class="row well">
  <div class="span4">
      <h1>Monthly Meeting</h1>
      <p><i class="icon-time"></i>7PM to 9PM on Tuesday, April 2nd, 2013</p>
      <p>Speaker: TBA</p>
      <p>Topic: TBA</p>
      <p>Venue:<p>

      <address>
        Improving Enterprises<br />
        16633 Dallas Parkway <br />
        Suite 110 <br />
        Dallas, TX 75001
      </address>

      <p>
        RSVP <a href="#">here.</a>
      </p>
  </div>
  <div class="span7">
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=16633+Dallas+Pkwy+%23100,+Addison,+TX+75001&amp;aq=0&amp;sll=32.976856,-96.827008&amp;sspn=0.006498,0.009999&amp;ie=UTF8&amp;hq=&amp;hnear=16633+Dallas+Pkwy,+Addison,+Dallas,+Texas+75001&amp;t=m&amp;ll=32.976862,-96.827016&amp;spn=0.00864,0.013733&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=16633+Dallas+Pkwy+%23100,+Addison,+TX+75001&amp;aq=0&amp;sll=32.976856,-96.827008&amp;sspn=0.006498,0.009999&amp;ie=UTF8&amp;hq=&amp;hnear=16633+Dallas+Pkwy,+Addison,+Dallas,+Texas+75001&amp;t=m&amp;ll=32.976862,-96.827016&amp;spn=0.00864,0.013733&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div>
