<div class="row-fluid">
  <div class="span11 offset1">
    <div class="page-header">
      <h1>Dallas.rb</h1>
      <h2>Dallas Ruby Brigade</h2>
      <p>The Dallas Ruby Brigade has been around since early 2007. We meet every Tuesday evening to present, hack, teach, or learn about the Ruby programming language. </p>
      <p>There is always food. Sometimes there is beer. All are welcome!</p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span3 offset1">
    <h2>Events</h2>
    <p class="call-to-action">We welcome everyone to the Dallas.rb events. Come out and ask questions, help answer questions, or just come to learn.</p>
    <p>
      <%= link_to current_events_url, :class => "btn btn-primary btn-large" do %>
        <i class="icon-bullhorn"></i>
        Attend our next event
      <% end %>
    </p>
  </div>

  <div class="span3">
    <h2>Discussion</h2>
    <p class="call-to-action">For jobs and discussion, we have an active mailing list.</p>
    <p>
      <a href="http://groups.google.com/group/dallasrb" class="btn btn-primary btn-large">
        <i class="icon-comment"></i>
        Join the conversation
      </a>
    </p>
  </div>

  <div class="span3">
    <h2>Follow</h2>
    <p class="call-to-action">Follow us on Twitter for the latest info on our group.</p>
    <p>
      <a href="http://groups.google.com/group/dallasrb" class="btn btn-primary btn-large">
        <i class="icon-twitter"></i>
        Follow @dallasruby
      </a>
    </p>
  </div>
</div>

<hr />

<div class"row-fluid">
  <div class="span11 offset1">
    <h2>Upcoming</h2>
    <%= render "events/#{@current_event.event_type.name}_event", :event => @current_event %>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    events.init_map("<%=j marker_for(@current_event) %>");
  </script>
<% end %>
