<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Dallas.rb</h1>
      <h2>Dallas Ruby Brigade</h2>
      <p>The Dallas Ruby Brigade has been around since early 2007. We meet every Tuesday evening to present, hack, teach, or learn. </p>
      <p>There is always food. Sometimes there is beer. All are welcome!</p>
      <p><a href="https://twitter.com/dallasruby" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @dallasruby</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h2>Mission</h2>
    <p>To further the use of Ruby among the programmers of the Dallas area.</p>
  </div>

  <div class="span4">
    <h2>Events</h2>
    <p>We welcome everyone to the Dallas.rb events. Come out and ask questions, help answer questions, or just be a part of the conversation.</p>
    <p><a href="#">Join us at our next event!</a></p>
  </div>

  <div class="span4">
    <h2>Participate</h2>
    <p>For jobs and discussion, we have an active <a href="http://groups.google.com/group/dallasrb">mailing list</a>. And you can follow <a href="http://twitter.com/dallasruby">@dallasruby</a> on twitter.
  </div>
</div>

<hr />

<div class"row">
  <h2>Upcoming</h2>
</div>
<%= render "events/#{@current_event.event_type.name}_event", :event => @current_event %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
