<% if should_display_rsvp?(event) %>
  <p>
    <%= link_to event.rsvp_url, :class => "btn btn-primary btn-large" do %>
      <i class="icon-envelope"></i> Register to attend
    <% end %>
  </p>
<% end %>
