<div class="row-fluid">
  <div class="span10 offset1">
    <h2>All Events</h2>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Event Type</th>
          <th>Title</th>
          <th>Date</th>
          <th>Speakers</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.event_type.name.titleize %></td>
            <td><%= link_to event.title, event %></td>
            <td><%= event.event_date.to_date %></td>
            <td><%= event.speaker.presence || "N/A" %></td>
          </tr>
        <% end %>
      </tbody>
    </div>
  </div>
</div>
