<h1>All Events</h2>

<div class="span12">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Speakers</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.title, event %></td>
          <td><%= event.event_date.to_date %></td>
          <td><%= event.speaker %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</div>
