<div class="row-fluid">
  <div class="span11 offset1">
    <%= render "#{@event.event_type.name}_event", :event => @event %>
  </div>
</div>
<div class="row-fluid">
  <div class="span11 offset1">
    <p>
      <%= link_to "See all events »", events_path %>
    </p>
  </div>
</div>
<% content_for :scripts do %>
  <script>
    <% @event.event_addresses.each_with_index do |event_address, index| %>
      events.init_map("<%=j marker_for(event_address) %>", <%= index %>);
    <% end %>
  </script>
<% end %>
